aside.aside
  //- img.aside__image(src="assets/images/dummy/apple-watch.png", alt="", srcset="")

  div.wrapper
    div.aside__cols
      div
        h2.aside__heading Título de#[br]párrafo resumen
        p.aside__subheading Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.
      div
        h3.aside__title Lorem ipsum dolor sit amet
        p.aside__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia. Lorem ipsum dolor.
      div
        h3.aside__title Lorem ipsum dolor sit amet
        p.aside__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia. Lorem ipsum dolor.
