div.campusboream
  div.wrapper
    a(href="https://campus.boream.com/")
      img(src="assets/images/campus-boream.png", alt="Logo de Campus Boream", width="160", height="63")
      span Formación de profesionales para el sector tecnológico
      svg.button__icon(width="25", height="11")
        use(xlink:href='assets/images/boream-sprite.svg#arrow-thin')

