mixin highlightGradient(OBJ)

  section.highlight-gradient
    img.highlight-gradient__image(src= `assets/images/projects/highlight-images/${OBJ.image.src}`, alt= OBJ.image.alt, srcset= OBJ.image.srcset)
