section.image
  div.image__wrapper
    div.image__aside
      span.image__aside__caption Lorem psum dolor
      span.image__aside__numeral 1
    img.image__image(src="assets/images/dummy/image-01.png", alt="", srcset="", width="49", height="39")
