-
  var CATEGORIES_LIST = [
    "CATEGORÍA NÚMERO UNO",
    "CATEGORÍA DOS",
    "CATEGORÍA TRES",
    "CAT NÚM CUATRO",
    "CAT CINCo"
  ];

-
  var SOCIAL = [
    { name: "linkedin", url: "https://www.linkedin.com/company/boream/" },
    { name: "facebook", url: "https://www.facebook.com/BoreamOficial/" },
    { name: "twitter", url: "https://twitter.com/boreamoficial" }
  ];


button.button.button--icon.button--secondary.js-modal(data-modal="#modal-subscribe") Suscríbete a Insights
  svg.button__icon
    use(xlink:href='assets/images/boream-sprite.svg#arrow')

ul.category__list
  each category in CATEGORIES_LIST
    li
      a(href="#")= category

div.share
  p.share__label Compartir Insight
  +social('share__list', SOCIAL)
