div.post__training
  h2 Formación campus boream
  div.post__training-content
    div.post__training-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Angular 6 Avanzado
      p Octubre de 2018  |  3.500 €
      a.button.button--link-icon(href="#")
        span Más información
        svg.button__icon(width="26", height="10")
          use(xlink:href="assets/images/boream-sprite.svg#arrow")
    div.post__training-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Angular 6
      p Octubre de 2018  |  3.500 €
      a.button.button--link-icon(href="#")
        span Más información
        svg.button__icon(width="26", height="10")
          use(xlink:href="assets/images/boream-sprite.svg#arrow")
    div.post__training-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Angular 6
      p Octubre de 2018  |  3.500 €
      a.button.button--link-icon(href="#")
        span Más información
        svg.button__icon(width="26", height="10")
          use(xlink:href="assets/images/boream-sprite.svg#arrow")
    div.post__training-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Angular 6
      p Octubre de 2018  |  3.500 €
      a.button.button--link-icon(href="#")
        span Más información
        svg.button__icon(width="26", height="10")
          use(xlink:href="assets/images/boream-sprite.svg#arrow")

div.post__hiring
  h2 Actualmente contratamos
  div.post__hiring-content
    div.post__hiring-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Node.JS
      ul
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
    div.post__hiring-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Node.JS
      ul
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
    div.post__hiring-col
      h3
        img(src="assets/images/logo-javascript-black.svg")
        span Node.JS
      ul
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
        li
          a.button.button--link-icon(href="#")
            span Trainee Frontend Developer
            svg.button__icon(width="26", height="10")
              use(xlink:href="assets/images/boream-sprite.svg#arrow")
