.description {
  $this: &;
  padding: rem(120px 90px 120px 0);

  background-color: transparent;
  background-repeat: no-repeat;

  @include mq($from: mobile_landscape) {
    padding: rem(60px 90px 60px 0);
  }

  @include mq($from: tablet) {
    padding: 3rem 0;
  }
  @include mq($from: desktop) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @include mq($from: desktop_large) {
    padding-top: 10rem;
    padding-bottom: rem(175px);
  }

  // MODIFIERS
  @at-root #{$this}#{$this}--full {
    padding-right: 0;

    > .wrapper {
      grid-template-columns: 1fr;
    }

    .description__column {
      @include mq($from: tablet) {
        max-width: percentage(7 / 8);
      }
      @include mq($from: desktop) {
        max-width: percentage(7 / 12);
      }
    }
  }

  @at-root #{$this}#{$this}--centered {
    padding: 5rem 0 4rem;

    @include mq($from: tablet) {
      padding: 11.875rem 0 11.25rem;
    }

    > .wrapper {
      grid-template-rows: 1fr;

      @include mq($from: tablet) {
        grid-template-columns: repeat(4, 1fr);
      }

      .description__column {
        grid-column: 2 / -2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .description__column__image {
        max-width: 100%;
      }
    }
  }

  /*
  El tipo img-top es para imagen centrada
  en vertical y sin límite de ancho
  */
  &--img-top {
    background-size: 960px;
    background-position: -600px 100%;

    @include mq($from: tablet) {
      padding: 8.125rem 5.625rem 10rem 0;
      background-position: -300px 100%;
    }
    @include mq($from: desktop) {
      padding: 11rem 5.625rem 11rem 0;
      background-position: 0 100%;
    }
  }

  /*
  El tipo img-center es para imagen alineada abajo
  en vertical y hasta mitad de pantalla de ancho
  */
  &--img-center {
    background-position: 35% -200px;
    // background-position: right -160px;

    @include mq($from: desktop_large) {
      background-position: 0% 50%;
    }
  }

  /*
  El tipo img-boream es para el bloque que lleva
  el logo de boream, que siempre tiene que ir sobre fondo blanco
  */
  &--img-boream {
    padding: 6.875rem 5.625rem 7.125rem 0;
    background-position: -200px -40px;

    @include mq($from: tablet) {
      padding: 7.125rem 5.625rem 6rem 0;
      background-position: -364px -40px;
    }
    @include mq($from: desktop) {
      padding: 9.75rem 5.625rem 9.125rem 0;
    }
    @include mq($from: desktop_large) {
      padding: 9.75rem 5.625rem 9.75rem 0;
      background-position: -500px 4px;
    }
    @include mq($from: desktop_wide) {
      background-position: 0 0;
    }
    @include mq($from: max-width) {
      background-position: 0 4px;
    }
  }

  &--image {
    overflow: hidden;
    > .wrapper {
      overflow: initial;

      @include mq($until: desktop) {
        display: block;
        margin-bottom: rem(38px);
      }

      @include mq($from: tablet) {
        .description__column:nth-child(1) {
          width: percentage(5 / 8);
        }
      }

      @include mq($from: desktop) {
        min-height: rem(450px);
        .description__column:nth-child(1) {
          width: auto;
        }
      }
    }
  }

  > .wrapper {
    display: grid;
    grid-row-gap: 1.5em;

    @include mq($from: tablet) {
      grid-column-gap: 1.5em;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // CHILDS
  @include mq($from: tablet) {
    &__logo {
      grid-column: 1 / 3;
      grid-row-gap: 40px;
    }
  }

  &__logo-image {
    width: initial;
  }

  &__column {
    $this: &;

    @include mq($from: desktop) {
      max-width: percentage(5/6);
    }

    // MODIFIERS
    @at-root #{$this}#{$this}--full {
      max-width: none;
    }
    @at-root #{$this}#{$this}--quote {
      display: none;

      @include mq($from: desktop) {
        display: block;
      }
    }

    &__image {
      max-width: 10rem;
      margin-right: 2rem;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-right: 0;
      }

      // Wrappper
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      &:not(.description__column__image--custom) {
        max-width: 8.5625rem;
        margin-bottom: 0.875rem;

        @include mq($from: tablet) {
          max-width: 8.4375rem;
          margin-bottom: 1.125rem;
        }
      }

      &--custom {
        width: 650px;
        max-width: none;
        margin-bottom: 0;
        transform: translate3d(20px, -30px, 0);

        @include mq($from: tablet) {
          transform: none;
        }

        @include mq($from: desktop) {
          position: absolute;
          top: -100px;
          left: -100px;
          width: auto;
        }
      }
    }

    &__title {
      margin-bottom: 2.5rem;
      // font-size: 2rem;
      font-size: 2rem;
      font-weight: $ultralight;
      line-height: 1.38;
      color: var(--description-color);

      @include mq($from: tablet) {
        margin-bottom: 1.375rem;
      }

      &--sm {
        font-size: rem(24px);
      }
    }

    &__subtitle {
      margin-bottom: 1rem;
      font-size: 0.875rem;
      font-weight: $semibold;
      color: var(--shadow-color-darkest);
      text-transform: uppercase;
    }

    &__text {
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
      color: var(--shadow-color-darkest);
      line-height: 1.625rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        margin-left: rem(16px);

        li {
          list-style-type: disc;
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-top: 2.125rem;
    font-size: 0.875rem;
    color: var(--shadow-color-darkest);
    text-decoration: none;

    > span {
      @include fx-underline(rgb(70, 70, 70), 1px);
      padding-bottom: 0.0625rem;
    }

    > .button__icon {
      margin-left: 0;
      transform: translateX(0.75rem);
      width: 25px;
      height: 11px;
    }

    &:hover {
      color: var(--shadow-color-darkest);

      > span {
        background-size: 100% 1px;
      }

      > .button__icon {
        transform: translateX(1rem);
      }
    }
  }

  .button {
    margin-top: 1rem;

    @include mq($until: desktop) {
      display: inline-flex;
      border: none;
      background: none;
      color: var(---shadow-color-darkest);
    }

  }

  // CACHE THIS
  // .description
  $this: &;

  // MODIFERS & WEIRD EXCEPTIONS
  &--onetext {
    padding: 3.75rem 3.75rem 5.625rem 0;

    @include mq($from: tablet) {
      padding: 5rem 0 7.5rem;
    }

    > .wrapper {
      @include mq($from: tablet) {
        width: percentage(6/8);
        grid-template-columns: 1fr;
        margin-left: 0;

        .description__logo {
          grid-column: 1;
        }
      }
      @include mq($from: desktop) {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;

        .description__logo {
          grid-column: 1 / 3;
        }
      }
    }

    #{$this}__column {
      + #{$this}__column {
        @include mq($from: desktop) {
          padding-top: 3.5rem;
        }
      }

      &__title {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: $ultralight;
        line-height: 2.25rem;
        color: var(--black-color);
      }
    }
  }

  // ADDS A CLOSING LINE AT THE END
  &--closing {
    > .wrapper {
      overflow: visible;
    }

    #{$this}__column {
      + #{$this}__column {
        &::after {
          content: '';
          display: inline-block;
          width: 5rem;
          height: 0.5rem;
          background-color: var(--secondary-color);
          transform: translate3d(0, 2rem, 0);
        }
      }
    }
  }

  &--narrow {
    padding: rem(42px 90px 120px 0);

    #{$this}__column__title {
      margin-bottom: 0.875rem;
      font-size: 1.5rem;
      line-height: 1.5;
      color: var(--description-color);
    }
    #{$this}__column__text {
      margin-top: 0;
    }
  }

  &--form {
    padding-top: rem(94px);
    padding-bottom: rem(173px);

    @include mq($from: tablet) {
      padding-top: rem(145px);
      padding-bottom: rem(204px);
    }

    @include mq($from: desktop) {
      padding-top: rem(182px);
      padding-bottom: rem(306px);
    }
  }

  &--error {
    padding-top: rem(56px);
    padding-bottom: rem(72px);
    @include mq($from: tablet) {
      padding-top: rem(95px);
      padding-bottom: rem(118px);
    }
    @include mq($from: desktop_large) {
      padding-top: 3rem;
      padding-bottom: 8.8rem;
    }

    .description__column__text a {
      color: var(--error-color);
    }
  }

  &--post {
    padding-top: rem(76px);
    padding-bottom: rem(102px);
    border-top: 0.0625rem solid var(--shadow-color-darkest);

    @include mq($from: tablet) {
      padding-top: rem(105px);
      padding-bottom: rem(135px);
    }
    @include mq($from: desktop_large) {
      padding-top: rem(56px);
      padding-bottom: rem(92px);
    }
  }
}
