img {
  position: relative;
  font-family: $ff;
  font-weight: bold;
  text-align: center;

  &::after {
    content: "imagen rota";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: z(bottomless-pit);
    top: 0;
    left: 0;
    color: var(--gray-color);
    background-color: var(--secondary-color);
  }
}

