$insightsHeight: 26.25rem;

.insights {

  @include mq($from: tablet) {
    padding: 2rem 1rem 0;
  }

  + .posts {
    padding-top: 0;

    @include mq($from: desktop) {
      padding-top: 3rem;
    }
  }


  &-cover {
    margin-top: rem(40px);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    position: relative;

    @include mq($from: desktop) {
      margin-top: 0;
      flex-wrap: nowrap;
      height: $insightsHeight;
    }

    &:hover,
    &:focus {
      .insights-info__title span {
        background-size: 100% 1px;
      }
    }

    > .wrapper {
      position: relative;
      z-index: z(default);
      overflow: visible;
    }
  }

  &-figure {
    width: 100vw;
    padding: 0 1.25rem;

    @include mq($from: desktop) {
      height: $insightsHeight;
      padding: 0;
      position: absolute;
      left: -1rem;
      bottom: 0;
    }

    > img {
      height: 16.125rem;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
      object-fit: cover;

      @include mq($from: tablet) {
        object-position: 65%;
      }

      @include mq($from: desktop) {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    @include mq($from: desktop) {
      max-width: percentage(6/12);
    }

    &__block {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      margin: 0 0 0 -1rem;
      position: relative;

      &::after {
        content: '';
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: (z(default) - 2);
        opacity: 0;

        @include mq($from: tablet) {
          background-color: hsla(0, 0%, 0%, 0.37);
        }

        @include mq($from: wrapper_max_width_offset) {
          opacity: 1;
        }
      }

      &:nth-child(1) {
        @include mq($from: desktop) {
          background-color: hsla(0, 0%, 0%, 0.37);
        }

        @include mq($from: wrapper_max_width_offset) {
          background-color: transparent;
        }

        &::after {
          @include mq($from: desktop) {
            background-color: hsla(0, 0%, 0%, 0.37);
          }
        }
      }

      &:nth-child(2) {
        background-color: hsla(0, 0%, 100%, 0.73);

        @include mq($from: wrapper_max_width_offset) {
          background-color: transparent;
        }

        &::after {
          background-color: hsla(0, 0%, 100%, 0.73);
        }
      }

      > svg {
        position: absolute;
        left: -21.875rem;
        top: 5.375rem;
        opacity: 0;

        @include mq($from: desktop_large) {
          opacity: 1;
        }
      }
    }

    &__title {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: $ultralight;
      color: var(--black-color);

      @include mq($from: desktop) {
        margin-bottom: 0;
        color: var(--white-color);
      }

      > span {
        @include fx-underline(var(--white-color), 1px);
      }
    }

    &__text {
      font-size: 0.875rem;
      color: var(--shadow-color-darkest);
      line-height: 1.8;
    }
  }

  &__categories {
    margin-bottom: 3rem;
    font-size: 0.75rem;
    color: var(--shadow-color-darkest);

    @include mq($from: desktop) {
      width: percentage(7/12);
      margin-bottom: 7.5rem;
    }

    .insights-cover & {
      width: 100%;
      margin-bottom: 0.5rem;

      @include mq($from: desktop) {
        color: var(--white-color);
      }
    }

    > li {
      display: inline-block;
      padding: 0.35rem 0;
      color: inherit;
      text-transform: uppercase;

      &::after {
        content: '|';
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      span {
        &::after {
          content: '|';
          display: inline-block;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        &:last-child::after {
          display: none;
        }
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}
