.learning {
  height: 61.8125rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  
  @include mq($from: tablet) {
    height: 59.1875rem;
  }
  
  @include mq($from: desktop) {
    height: 51.625rem;
  }
  
  &__bg {
    height: 50%;
  }
  
  &__image {
    max-width: 100%;
    width: calc(100% - 10px);
    position: absolute;
    top: 5.6875rem;
    right: 0;
    
    @include mq($from: tablet) {
      top: calc(50% - 340px);
    }
    
    @include mq($from: desktop) {
      max-width: 100.4375rem;
      width: calc(100% - 100px);
      top: calc(50% - 214px);
    }
    
    picture {
      width: 100%;
      
      source, img {
        width: 100%;
        min-height: 50rem;
        object-fit: cover;
        object-position: left;
        
        @include mq($from: tablet) {
          min-height: 42.125rem;
        }
        
        @include mq($from: desktop) {
          min-height: 28rem;
        }
      }
    } 
  }
  
  &__code {
    display: none;
    
    @include mq($from: tablet) {
      display: block;
      max-width: 100%;
      width: auto;
      position: absolute;
      right: 4.5rem;
      bottom: 2.5rem;
      z-index: 2;
    }
    
    @include mq($from: desktop) {
      
    }
  }
  
  
  // CHILDS
  > .wrapper {
    width: 90%;
    padding: 3.3125rem 0 0;
    position: absolute;
    top: 5.6875rem;
    right: 0;
    left: inherit;
    z-index: 1;
    
    @include mq($from: tablet) {
      padding: 3.3125rem 3.5rem 0 0;
      top: calc(50% - 340px);
    }
    
    @include mq($from: desktop) {
      top: calc(50% - 214px);
    }
  }
  
  &__cols {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    color: var(--blue-dark-color);
    
    > div {
      padding: 0;
      
      > * {
        max-width: 28rem;
        padding: 0 1.25rem;
        
        @include mq($from: tablet) {
          max-width: 18.9rem;
        }
        @include mq($from: desktop) {
          max-width: 28rem;
        }
      }
      
      > .learning__heading {
        max-width: 13rem;
        
        @include mq($from: tablet) {
          max-width: 100%;
        }
        
        @include mq($from: desktop) {
          max-width: 24rem;
        }
      }
      
      > .learning__subheading {
        @include mq($from: tablet) {
          max-width: 30.125rem;
        }
        @include mq($from: desktop) {
          max-width: 28rem;
        }
      }
    }
    
    > div:nth-child(1) {
      margin-bottom: 1.3125rem;
      
      @include mq($from: tablet) {
        margin-bottom: 3.375rem;
      }
      @include mq($from: desktop) {
        margin-bottom: 3.3125rem;
      }
    }
    
    > div:nth-child(2) {
      margin-bottom: 1.8125rem;
    }
    
    @include mq($from: tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      
      > div:nth-child(1) {
        grid-column: span 4;
        padding: 0;
        
        .users-voice__subheading {
          max-width: 30rem;
        }
      }
      > div:nth-child(2),
      > div:nth-child(3) {
        padding-right: 0.625rem;
        grid-column: span 2;
        
        &::before {
          width: 50vw;
        }
      }
      
      > div:nth-child(2) {
        &::after {
          content: '';
          display: block;
          width: 0.0625rem;
          height: 100%;
          position: absolute;
          top: 0;
          right: -1.25rem;
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    @include mq($from: desktop) {
      > div:nth-child(1) {
        grid-column: span 2;
      }
      > div:nth-child(2),
      > div:nth-child(3) {
        padding-top: 2.9375rem;
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        > * {
          padding: 0;
        }
      }
      
    }
  }
  
  &__heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: $extralight;
    line-height: 1.5;
    
    @include mq($from: tablet) {
      font-size: 3rem;
    }
  }
  
  &__subheading {
    margin-top: 1.625rem;
    font-family: $ff;
    font-size: 1rem;
    font-weight: $semibold;
    line-height: 1.94;
  }
  
  &__title {
    font-family: $ff;
    font-size: 1rem;
    font-weight: $semibold;
    line-height: 1.94;
  }
  
  &__text {
    font-family: $ff;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: $regular;
    line-height: 1.86;
  }
}
