header.site-header
  div.wrapper
    a.site-logo(href='/')
      img.site-logo__figure.site-logo__figure--inactive(src='assets/images/logo-boream.png')
      img.site-logo__figure.site-logo__figure--active(src='assets/images/logo-boream-white.png')

    include navigation
