nav.nav

  //- Menu Toggle ------------- //
  button.nav-trigger.hamburguer.js-toggle-menu
    span.hamburguer__vanishes

  ul.nav__list
    li
      a.nav__link(href='cases.html') Case Studies
    li
      a.nav__link(href='insights.html') Boream Insights
    li
      a.nav__link(href='talent.html') Talent
    li
      a.nav__link(href='contacto.html') Contacto

  ul.misc__social
      li
        a(href='https://www.linkedin.com/company/boream/', target='_blank')
          svg.linkedin
            use(xlink:href= 'assets/images/boream-sprite.svg#linkedin')
      li
        a(href='https://www.facebook.com/BoreamOficial/', target='_blank')
          svg.facebook
            use(xlink:href= 'assets/images/boream-sprite.svg#facebook')
      li
        a(href='https://twitter.com/boreamoficial', target='_blank')
          svg.twitter
            use(xlink:href= 'assets/images/boream-sprite.svg#twitter')
      li
        a(href='https://instagram.com/boreamoficial/', target='_blank')
          svg.instagram
            use(xlink:href= 'assets/images/boream-sprite.svg#instagram')

